<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Store</title>
</head>
<body>
    <h1>Create New Store</h1>
    <form action="/Stores" method="post">

        <label for="businessName">businessName:</label>
        <input type="text" name="businessName" id="businessName">

        <label for="category">Category:</label>
        <input type="text" name="category" id="category">

        <label for="contactUs">contactUs:</label>
        <input type="text" name="contactUs" id="contactUs">

         <label for="description">description:</label>
        <input type="text" name="description" id="description">

         <label for="isActive">isActive:</label>
        <input type="boolean" name="isActive" id="isActive">

        <button type="submit">Create Store</button>
    </form>
    
</body>
</html>